<section>
    <h2>Holdings</h2>
    <tr>
        <th>Name</th>
        <th>Abbreviation</th>
        <th>Holdings</th>
        <th>Price</th>
        <th>Holdings Value</th>
    </tr>
    <tr>
        <td>{{currency_name}}</td>
        <td>{{currency}}</td>
        <!--add currency holding<td></td>-->
        <td>{{price}}</td>
        <td>{{priceValue}}</td>
    </tr>
</section>