<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Moolah</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
<<<<<<< HEAD
 <div class="wrapper">
   <!--The header section will be present throughout all pages-->
   <header>
<h1>
  <a href="/">MOOLAH</a>
</h1>
 <nav>
  {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        {{/if}}
=======
  <div class="wrapper">
    <!--The header section will be present throughout all pages-->
    <header>
      <h1>
        <a href="/">MOOLAH</a>
      </h1>
      <nav>
        <ul>
          {{#if loggedIn}}
          <li>
            <button id="logout" class="btn-no-style">logout</button>
          </li>
          {{else}}
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/signup">Signup</a>
          </li>
          {{/if}}
        </ul>
>>>>>>> develop
      </nav>
    </header>

    <video autoplay loop muted>
      <source src="/assets/Background.mp4" type="video/mp4">
    </video>

    <!--handlebars body where content will be added to-->
    <main>
      {{{body}}}
    </main>

    <!--footer section-->
    <footer>
      <h2>Thanks For Visiting!</h2>
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}



</body>

</html>