<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Moolah</title>
  <script src="https://kit.fontawesome.com/9521d3cb10.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
  <!--The header section will be present throughout all pages-->
  <header>
    <h1>
      <a href="/">MOOLAH</a>
    </h1>
    <nav>
      <ul>
        {{#if loggedIn}}
        <li>
          <a class="nav" href="/">Home</a>
        </li>
        <li>
          <a class="nav" href="/portfolio">Portfolio</a>
        </li>
        <li>
          <button id="logout" class="btn-no-style">Logout</button>
        </li>
        {{else}}
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/signup">Signup</a>
        </li>
        {{/if}}
      </ul>
    </nav>
  </header>

  <video autoplay loop muted>
    <source src="/assets/Background.mp4" type="video/mp4">
  </video>

  <!--handlebars body where content will be added to-->
  <main>
    {{{body}}}
  </main>

  <!--footer section-->
  <footer>
    <p><a href="https://bootcamp.learn.utoronto.ca" target="_blank" rel="noopener"><i
          class="far fa-copyright"></i>&nbsp2021 UofT SCS Coding Boot Camp</a></p>
  </footer>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>