<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moolah</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
 <div class="wrapper">
   <header>
<h1>
  <a href="/">MOOLAH</a>
</h1>
 <nav>
  {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/views/login.handlebars">Login</a>
        <a href="/views/signup.handlebars">Signup</a>
        {{/if}}
      </nav>
   </header>
 <main>
   {{{body}}}
 </main>
 <footer>
   Thanks For Visiting!
 </footer>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}


     
     
     
       
</body>
</html>