:root {
  --primary-color: royalblue;
  --secondary-color: #f5db65;
  --tertiary-color: #39a6b2;
}

body {
  margin: 0;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}


header {
  top: 0;
  background-color: rgb(65, 105, 225, 0.9);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  padding: 20px 35px;
  border-bottom: solid 3px var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 75px;
}

.site-logo img {
  position: absolute;
  top: 0;
  height: 140px;
  object-fit: none;

}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  font-family: "Trirong", serif;
  text-decoration: none;
  color: var(--secondary-color);
  text-shadow: 2px 2px #5A716A;
}


header nav ul li a:hover {
  border-radius: 15px;
  background-color: var(--tertiary-color);
  transform: scale(0.9);
}


button {
  color: var(--secondary-color);
  border-radius: 10px;
  background-color: var(--tertiary-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--tertiary-color)
}

button:active {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



footer {
  position: fixed;
  background-color: rgb(65, 105, 225, 0.9);
  width: 100%;
  bottom: 0;
  padding: 40px 35px;
  border-top: 3px solid var(--secondary-color);
}

footer h2,
h2 {
  color: var(--secondary-color);
  font-size: 20px;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  font-family: "Trirong", serif;
}

.list-chart {
  background-color: var(--tertiary-color);
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 3px solid var(--secondary-color);
  border-radius: 15px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 10px;
}

.list-chart a:link {
  text-decoration: none;
}

.list-chart a {
  color: var(--secondary-color);
  font-family: "Trirong", serif;
  text-shadow: 2px 2px #5A716A;
  font-size: 1.40vw;
}

.list-chart li a:hover {
  transform: scale(0.9);
  background-color: rgb(65, 105, 225, 0.6);
  border-radius: 10px;
  padding: 1px 1px;
}

.list-chart li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.container {
  height: 700px;
  position: relative;
  width: 675px;
}

.container h1 {
  font-family: "Trirong", serif;
  color: var(--secondary-color);
  text-align: center;
  text-shadow: 2px 2px #5A716A;
}

#table-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.list-chart img:hover {
  background-color: rgb(65, 105, 225, 0.6);
  padding: 5px 5px;
  border-radius: 10px;
}

.login,
.signup,
.add {
  padding: 25px 0 25px 0;
}

.email,
.username {
  padding-top: 25px;
}