
<div id='table-holder'>

  <div class='container'>
    <h1>Cryptocurrency News</h1>
    <ul class='list-chart'>
      <li>
        <a href='https://bitcoin.org/en/' target='_blank'>Bitcoin.org</a>
        <img src='./assets/logo/bitcoin.png' style='height:55px; width:55px'>
      </li>
      <li>
        <a href='https://nomics.com/' target='_blank'>Nomics</a>
        <img src='./assets/logo/Nomics.png' style='height:20%; width:20%'>
      </li>
      <li>
        <a href='https://www.coindesk.com/' target='_blank'>Coindesk</a>
        <img src='./assets/logo/coindesk.png' style='height:20%; width:20%'>
      </li>
      <li>
        <a href='https://decrypt.co/' target='_blank'>Decrypt</a>
        <img src='./assets/logo/decrypt.png' style='height:20%; width:20%'>
      </li>
      <li>
        <a href='https://cointelegraph.com/' target='_blank'>Cointelegraph</a>
        <img src='./assets/logo/Cointelegraph.png' style='height:30%; width:30%; object-fit: contain;'>
      </li>
    </ul>

  </div>

  <div class='container'>
    <h1>
      Top-5 Crypto Exchanges</h1>
    <ul class='list-chart'>
      <li>
        <a href='https://www.binance.com/en' target='_blank'>Binance</a>
        <img src='./assets/logo/binance.png' style='height:50px; width:50px'>
      </li>
      <li>
        <a href='https://www.coinbase.com/exchange' target='_blank'>Coinbase</a>
        <img src='./assets/logo/Coinbase.png' style='height:15%; width:15%;'>
      </li>
      <li>
        <a href='https://ftx.com/' target='_blank'>FTX</a>
        <img src='./assets/logo/FTX.png' style='height:9%; width:9%'>
      </li>
      <li>
        <a href='https://www.gate.io/' target='_blank'>Gate.io</a>
        <img src='./assets/logo/gateio.svg' style='height:50px; width:50px'>
      </li>
      <li>
        <a href='https://www.kucoin.com/' target='_blank'>KuCoin</a>
        <img src='./assets/logo/KUCoin.png'>
      </li>
    </ul>

  </div>
</div>
