<!-- Dash Board-->
<div class="container" id="dashboard">
  <div class="row" id="dashboard">
    <div class="col-12">
      <h2 style="text-align: center;">Exchange Rate</h2>
      <table style="width: 100%;" id="dashboard">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity Held</th>
          <th>Holding Value</th>
          <th>Impact Score</th>
          <th>Rating</th>
        </tr>
        <!--{{>homepage-filler post-list}}-->
        <tr>
          <td>Bitcoin (BTC)</td>
          <td>$43016.58</td>
          <td> -- </td>
          <td> -- </td>
          <td> 10 </td>
          <td> 1 </td>
        </tr>
        <tr>
          <td>Ethereum (ETH)</td>
          <td>$2963.74</td>
          <td> -- </td>
          <td> -- </td>
          <td> 8.93 </td>
          <td> 2 </td>
        </tr>
        <tr>
          <td>Cardano (ADA)</td>
          <td>$2.05</td>
          <td> -- </td>
          <td> -- </td>
          <td> 7.6 </td>
          <td> 3 </td>
        </tr>
        <tr>
          <td>Ripple (XRP)</td>
          <td>$ 0.92</td>
          <td> -- </td>
          <td> -- </td>
          <td> 6.5 </td>
          <td> 4 </td>
        </tr>
        <tr>
          <td>Solana (SOL)</td>
          <td>$134.72</td>
          <td> -- </td>
          <td> -- </td>
          <td> 3 </td>
          <td> 5 </td>
        </tr>
      </table>  
    </div>
  </div>
</div>


<button type="submit" class="button">Go To Wallet</button>
