<!-- Dash Board-->
<div class="container" id="dashboard">
  <div class="row" id="dashboard">
    <div class="col-12">
      <h2 style="text-align: center;">Exchange Rate</h2>
      <table style="width: 100%;" id="dashboard">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity Held</th>
          <th>Holding Value</th>
          <th>Impact Score</th>
          <th>Rating</th>
        </tr>
        {{>hompagefiller post-list}}
      </table>  
    </div>
  </div>
</div>


<button type="submit" class="button">Go To Wallet</button>
