<h2 style="text-align: center">Cryptocurrency News</h2>
<nav>
  <ul class="crypto">
    <li>
      <a href="https://www.nomics.com" target="_blank" rel="noopener"><i class="fas fa-coins"></i> Nomics</a>
    </li>
    <li>
      <a href="https://www.coindesk.com/" target="_blank" rel="noopener"><i class="fab fa-btc"></i> CoinDesk</a>
    </li>
    <li>
      <a href="https://cryptonews.com/" target="_blank" rel="noopener"><i class="fab fa-ethereum"></i>
        Crypto News</a>
    </li>
    <li>
      <a href="https://news.bitcoin.com/" target="_blank" rel="noopener"><i class="fab fa-bitcoin"></i>
        Bitcoin.com</a>
    </li>
    <li>
      <a href="https://cointelegraph.com/" target="_blank" rel="noopener"><i class="fas fa-comment-dollar"></i>
        Cointelegraph</a>
    </li>
  </ul>
</nav>
