<div class="login-form">
<form class="login-form">
  <div class="email">
    <label for="email-login" style="color:#f5db65;padding-right: 31px;line-height: 2.5">email:</label>
    <input type="text" id="email-login"/>
  </div>
  <div>
    <label for="password-login" style="color:#f5db65;line-height: 2.5">password:</label>
    <input type="password" id="password-login"/>
  </div>
  <div class="login">
    <button type="submit">login</button>
  </div>
</form>
</div>

<script src="/javascript/login.js"></script>