<section>
    <h2 style="padding-top: 25px; padding-bottom: 25px">Add Currency</h2>

    <form class="new-currency-form">
        <div>
            <label for="currency" style="color:#f5db65; padding-right: 30px">Currency Abbreviation Symbol</label>
            <input type="text" id="currency" name="currency" />
        </div>

        <div>
            <label for="curr_ownd" style="color:#f5db65; line-height: 2">How Many Currency Do You Own?</label>
            <input id="curr_ownd" name="curr_ownd" />
        </div>
        <div class="add">
            <button type="submit" class="btn">Add</button>
        </div>
    </form>
</section>


<section>
    <a href="/holding">
        <h2>Go To Your Holdings</h2>
    </a>
</section>

<script src="/javascript/add-currency.js"></script>