<section>
    <h2>Add Currency</h2>

    <form class="new-currency-form">
        <div>
            <label for="currency" style="color:#f5db65">Currency</label>
            <input type="text" id="currency" name="currency" />
        </div>
        <div>
            <label for="currency-name" style="color:#f5db65">Currency Name</label>
            <input id="currency_name" name="currency_name" />
        </div>
        <div>
            <label for="curr_ownd" style="color:#f5db65">How Many Currency Do You Own?</label>
            <input id="curr_ownd" name="curr_ownd" />
        </div>
        <div class="add">
            <button type="submit" class="btn">Add</button>
        </div>
    </form>
</section>


<section>
    <a href="/holding"><h4>Go To Your Holdings</h4></a>
    
</section>


<script src="/javascript/add-currency.js"></script>
