
<section class='container'>
    <div class="list-chart">
        <div class="new-user-currency">
            <input type="hidden" id="user_id" name="user_id" value="{{user.id}}">
            <label for="selectCurrencies">Choose a Cryptocurrency:</label>

            <select name="selectCurrencies" id="selectCurrencies">
                {{#each currencies as |currency|}}
                    <option value="{{currency.id}}">{{currency.symbol}}</option>
                {{/each}}
            </select>

            <button type="submit" class="btn">Add</button>
        <table>
            <tr>
            <th class="name">NAME</th>
            <th class="price">PRICE</th>
            <th class="day_change">1D CHANGE</th>
            <th class="market_cap">MARKET CAP</th>
            </tr>
            {{#each user.currencies as |currency|}}
            <tr>
            {{> currency-info currency}}
            </tr>
            {{/each}}
        </table>
    </div>
</section>