
<section class='container'>
    <div class="list-chart" style="margin-top: 100px;">
        <h2 class="portfolioTitle">Cryptocurrency Portfolio</h2>
        <div id="new-user-currency">
            <input type="hidden" id="userId" name="userId" value="{{user.id}}"></input>

            <select name="selectCurrencies" id="selectCurrencies">
                <option value="" disabled selected>Pick a Cryptocurrency</option>
                {{#each currencies as |currency|}}
                <option value="{{currency.id}}">{{currency.symbol}}</option>
                {{/each}}
            </select>

            <button type="submit">Add</button>
        <table>
            <tr class="portfolio">
            <th class="name">NAME</th>
            <th class="price">PRICE</th>
            <th class="day_change">1D CHANGE</th>
            <th class="market_cap">MARKET CAP</th>
            </tr>
            {{#each user.currencies as |currency|}}
            <tr>
            {{> currency-info currency}}
            </tr>
            {{/each}}
        </table>
    </div>
</section>