<form class="signup-form">
  <div>
    <label for="username-signup" style="color:#f5db65">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup" style="color:#f5db65">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup" style="color:#f5db65">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>