<form class="signup-form">
  <div class="username">
    <label for="username-signup" style="color:#f5db65;line-height: 2">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup" style="color:#f5db65;padding-right: 25px;line-height: 2">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup" style="color:#f5db65;line-height: 2">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="signup">
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>